/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

[data-bs-theme=light] {
  --bs-textarea: #dedede !important;
  --bs-threadMeta: rgba(238, 238, 238, 0.95) !important;
  --bs-threadMetaBorder: #ddd;
  /*--bs-threadMetaShadow: rgba(238, 238, 238, 0.5) !important;*/
  --bs-threadMetaShadow: rgb(49 49 49 / 50%) !important;
  --bs-threads-border: 1px solid #dddbdb;
  --bs-threads-background: #dddbdb;
  --bs-responder-bubble: #e0e0e1;
  --bs-sender-bubble: #aedfd0;
  --bs-responder-info-text: #6d707d;
  --bs-sender-info-text: #6d707d;
  --bs-responder-content-text: #292a2f;
}

[data-bs-theme="dark"] {
  --bs-textarea: rgb(18, 18, 18) !important;
  --bs-threadMeta: rgba(49, 49, 49, 0.9) !important;
  --bs-threadMetaBorder: #494949;
  --bs-threadMetaShadow: rgba(49, 49, 49, 0.5) !important;
  --bs-threads-border: 1px solid #464545;
  --bs-threads-background: #464545;
  --bs-responder-bubble: #3a3f43;
  --bs-sender-bubble: #0a8560;
  --bs-sender-info-text: #6d707d;
  --bs-responder-info-text: #8a8a8a;
}


/* https://www.cssportal.com/css-tooltip-generator/ */
@media screen and (max-width: 932px) {
  [data-tooltip]:before, [data-tooltip]:after {
    display: none !important;
  }
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  filter: drop-shadow(0px 0px 3px #808080);
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #000000;
  color: #FFFFFF;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #000000;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #000000;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #000000;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #000000;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}



textarea, textarea:focus, textarea:focus-visible, select {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  appearance: none !important;
  -webkit-box-shadow: none !important;

  /*border-color: #4A90E2; !* Change border color on focus *!*/
  /*box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.5); !* Add a soft glow or shadow *!*/
}

.noAfter:after, .noBefore:before  {
  display: none;
}

.message-content p:last-child, .message-content p:last-of-type {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
