/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --bs-selected-thread: #cecece;
}

[data-bs-theme=light] {
  --nav-background: #0a66c2;
  --nav-text: white;
  --nav-selected-text: #383838;
  --nav-selected-background: white;

  --dropzone-border: #acacac;
  --dropzone-background: #f6f6f6;
  --dropzone-background-hover: #e8f5e9;

  --role-message: white;
  --role-border: rgba(128, 128, 128, 0.56);

  --converter-output: #f8f8f8;

  --bs-textarea: #edecec !important;
  --bs-threadMeta: rgba(238, 238, 238, 0.95) !important;
  --bs-threadMetaOpen: rgba(238, 238, 238) !important;
  --bs-threadMetaBorder: #ddd;
  /*--bs-threadMetaShadow: rgba(238, 238, 238, 0.5) !important;*/
  --bs-threadMetaShadow: rgb(49 49 49 / 25%) !important;
  --bs-threads-border: 1px solid #dddbdb;
  --bs-threads-background: #dddbdb;
  --bs-responder-bubble: #e0e0e1;
  --bs-sender-bubble: #ddeede;
  --bs-responder-info-text: #6d707d;
  --bs-sender-info-text: #6d707d;
  --bs-responder-content-text: #292a2f;
  --bs-selected-thread: #cecece;
}

[data-bs-theme="dark"] {
  --nav-background: white;
  --nav-text: #383838;
  --nav-selected-text: white;
  --nav-selected-background: #0a66c2;

  --dropzone-border: #5e5d5d;
  --dropzone-background: #272727;
  --dropzone-background-hover: #8c9b8f;

  --role-message: #1f1f1f;
  --role-border: rgb(17, 17, 17);

  --converter-output: #353434;

  --bs-textarea: rgb(18, 18, 18) !important;
  --bs-threadMeta: rgba(49, 49, 49, 0.9) !important;
  --bs-threadMetaOpen: rgba(49, 49, 49) !important;
  --bs-threadMetaBorder: #494949;
  --bs-threadMetaShadow: rgba(49, 49, 49, 0.5) !important;
  --bs-threads-border: 1px solid #464545;
  --bs-threads-background: #464545;
  --bs-responder-bubble: #323639;
  --bs-sender-bubble: #065940;
  /*--bs-sender-bubble: #7ed3ff;*/
  --bs-sender-info-text: #6d707d;
  --bs-responder-info-text: #8a8a8a;
  --bs-selected-thread: #222222;
}


/* https://www.cssportal.com/css-tooltip-generator/ */
@media screen and (max-width: 932px) {
  [data-tooltip]:before, [data-tooltip]:after {
    display: none !important;
  }
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  filter: drop-shadow(0px 0px 3px #808080);
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #000000;
  color: #FFFFFF;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #000000;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #000000;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #000000;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #000000;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}



textarea, textarea:focus, textarea:focus-visible, select {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  appearance: none !important;
  -webkit-box-shadow: none !important;

  /*border-color: #4A90E2; !* Change border color on focus *!*/
  /*box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.5); !* Add a soft glow or shadow *!*/
}

.noAfter:after, .noBefore:before  {
  display: none;
}

.message-content p:last-child, .message-content p:last-of-type {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


/**/

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #bdbcbc;
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

[data-bs-theme="dark"] {
  .hljs {
    color: #adbac7;
    background: #22272e;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #f47067;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #dcbdfb;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #6cb6ff;
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #96d0ff;
  }

  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #f69d50;
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #768390;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #8ddb8c;
  }

  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #adbac7;
  }

  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #316dca;
    font-weight: bold;
  }

  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #eac55f;
  }

  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #adbac7;
    font-style: italic;
  }

  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #adbac7;
    font-weight: bold;
  }

  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #b4f1b4;
    background-color: #1b4721;
  }

  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffd8d3;
    background-color: #78191b;
  }

  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
}
